@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure to Delete This Role?</h1>
<form asp-action="ConfirmDelete">
    <div asp-validation-summary="ModelOnly"></div>
    <partial name="PartialViews/DetailsDeleteRolePartial" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


