@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}


<h1>Edit Role</h1>

<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div> @*List The Whole Form Error Messages andErrors in catch exception in controller*@
    <partial name="PartialViews\CreateEditRolePartial" />
    <div class="my-3">
        <a class="btn btn-info" asp-action="AddOrRemoveUsers" asp-controller="Role" asp-route-roleId="@Model.Id">Add Or Remove Users</a>
    </div>
    <input type="submit" value="Save" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}